<h2>Edit Post</h2>
<form method="POST" action="/edit/<%= post._id %>">
  <textarea name="content" rows="5" cols="40"><%= post.content %></textarea>
  <br />
  <button type="submit">Update</button>
</form>
