<head>
  <link rel="stylesheet" href="/style.css" />
</head>

<div class="message-page">
  <h1 class="message-title"><%= title %></h1>
  <p class="message-text"><%= message %></p>

  <% if (redirect && redirectText) { %>
  <a href="<%= redirect %>" class="message-link"><%= redirectText %></a>
  <% } %>
</div>
