<head>
  <link rel="stylesheet" href="/style.css" />
</head>

<h1 class="page-title">Reset Password</h1>

<form class="form-container" method="POST" action="/reset-password">
  <input type="hidden" name="email" value="<%= email %>" />

  <input
    type="password"
    name="newPassword"
    class="form-input"
    placeholder="New Password"
    required
  />

  <button type="submit" class="form-btn">Set New Password</button>
</form>
