<head>
  <link rel="stylesheet" href="/style.css" />
</head>

<div class="signup-container">
  <h1 class="signup-title">Sign Up</h1>

  <form class="signup-form" method="POST" action="/signup">
    <input
      type="email"
      name="email"
      class="signup-input"
      placeholder="Email"
      required
    />
    <input
      type="password"
      name="password"
      class="signup-input"
      placeholder="Password"
      required
    />
    <input
      type="text"
      name="username"
      class="signup-input"
      placeholder="Username"
      required
    />
    <button type="submit" class="signup-btn">Sign Up</button>
  </form>
</div>
